.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.onboardingText {
    color: black;
    font-size: 1.5rem;
    animation: decSize 0.8s 3 forwards;
}

@keyframes decSize {
    100% { font-size: 1rem; }
}